<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.label :publishing_date %><br />
    <%= f.datetime_select :publishing_date %>
  </div>
  
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  
  
  <div class="field">
    <%= f.label :person_id %><br />
    <%= select("post", "person_id", Person.all.collect {|p| [ p.fullname, p.id ] }, { :include_blank => true })%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
