<h1><%=t "activerecord.models.post_listing"%></h1>

<table class="table table-condensed">
  <tr>
    <th><%=t "activerecord.attributes.post.title" %></th>
    <th><%=t "activerecord.attributes.post.content" %></th>
    <th><%=t "activerecord.attributes.post.publishing_date" %></th>
    <th><%=t "activerecord.attributes.post.person" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <span>
    <td><strong><%= post.title %></strong></td>
    <td><%= truncate post.content, length: 100 %></td>
    <td><%= post.localized_publishing_date %></td>
    <td><%= post.person %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('activerecord.actions.posts.new_post'), new_post_path, class: "btn btn-small" %>
<%= paginate @posts %>
