<!DOCTYPE html>
<html>
<head>
  <title>SqlserverTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><a href="<%= "#{request.protocol}#{request.host_with_port}#{request.path}?locale=en" %>">English</a></li>
    <li><a href="<%= "#{request.protocol}#{request.host_with_port}#{request.path}?locale=es"%>">Espa&ntilde;ol</a></li>
  </ul>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
